[2016-12-08 20:27] tonyghita opened #3 "Running `go test -race` fails"
Tests fail to pass when specifying the race detector to run.

[code]

results in
[code]
if the tests don't deadlock.

It may be good to add this option to the TravisCI runner.

[2016-12-08 20:56] tonyghita commented on #3
I'm looking at `LoadMany()` for thread-safety... I notice we do some slice manipulation in goroutines and AFAIK slice manipulations are not thread-safe.

[2016-12-08 21:32] nicksrandall commented on #3
Thanks for bringing this up. I've just pushed an update that prevents all the race conditions detected.

[2016-12-08 21:43] tonyghita commented on #3
Great work! Submitting a PR to add the race detector to TravisCI runs

[2016-12-08 21:43] #3 closed

[2016-12-12 16:39] nicksrandall opened #6 "Thunk return (interface{}, error) in stead of *Result?"
I'm thinking about making a small refactor that will change the `Thunk` and `ThunkMany` types to return interface{}, and error (or []interface, []error in the case of ThunkMany). I feel like that would be a little more idiomatic.

@tonyghita What do you think?

[2016-12-12 17:54] tonyghita commented on #6
I like this idea 👍

[2016-12-12 18:29] nicksrandall commented on #6
Fixed with #7

[2016-12-12 18:29] #6 closed

[2016-12-14 21:17] tonyghita opened #8 "Add LICENSE"
Can we add a LICENSE file to this library? Maybe something like the MIT license? https://tldrlegal.com/license/mit-license

[2016-12-15 23:38] nicksrandall commented on #8
I like MIT. Done.

[2016-12-15 23:38] #8 closed

[2017-01-03 19:20] tonyghita opened #9 "Usage of Prime()"
I'm wondering if you have any examples for the usage `Prime()`.

I'd like to write loaders that can load a resource by either the `id` or some other field, and then prime the cache with the result for both types of loader.

[code]

In this example, `ResourceLoader` is attached to the request context via `dataloader.NewBatchedLoader(...)`.

[2017-01-03 19:50] tonyghita commented on #9
After thinking about this a bit... It seems like priming should take place in the resolvers? Curious to get your thoughts @nicksrandall

[2017-01-03 21:12] nicksrandall commented on #9
A good example of using prime is here... https://github.com/facebook/dataloader#loading-by-alternative-keys

In that case, they are using prime method in the batch function to "prime" the cache by an alternate id.

[2017-01-04 18:16] tonyghita commented on #9
That seems like a reasonable way to do it. How would you recommend I get the instance of the dataloader to supply to my batch function (given that you need to supply a batch function to get an instance of a dataloader)?

[2017-01-04 18:57] nicksrandall commented on #9
Off the top of my head I would declare variables of type `dataloader.Interface` that you can reference in your batch func and then just make sure that those variables are initialized before they are actually used.

[2017-01-04 22:09] tonyghita commented on #9
Here's some rough code... is this close to what you are suggesting?
[code]

[2017-01-08 00:41] mvpmvh opened #10 "Cache::Delete should return bool"
Does it make sense to have the Cache::Delete return a boolean?
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map/delete

[2017-01-08 01:38] mvpmvh opened #11 "Naming consideration"
Obviously this is a personal preference and not at all technical in nature, but how do you feel about renaming your `type Interface interface` to `type DataLoader interface` and `type Loader struct` to `type DefaultDataLoader struct`? I don't have anything concrete to say 1 way or another is best practice or anything like that, but it seems to read more nicely, especially if you're just trying to

[2017-01-09 18:10] tonyghita commented on #11
Hmmm... My preference is to take the package name in consideration with the type name.

Consider:
`dataloader.Interface` vs ` dataloader.DataLoader`
`dataloader.Loader` vs `dataloader.DefaultDataLoader`

[2017-01-09 18:24] nicksrandall commented on #11
I agree with @tonyghita. `dataloader.Interface` is more clear to me and appears to be a convention used by the Go team. See https://golang.org/pkg/sort/#Interface as an example.

[2017-01-09 18:24] #11 closed

[2017-01-09 18:26] nicksrandall commented on #10
Thats a good point. I'll make the change

[2017-01-09 19:01] #10 closed

[2017-01-09 19:25] nicksrandall opened #12 "Race dectector hangs sometimes..."
when I run `go test -v -race`, it occasionally hangs. I have turned it off until I can figure out why. Any help is appreciated!

[2017-01-09 19:28] nicksrandall commented on #9
@tonyghita yeah, something like that should work. I personally keep all my loaders on my context but essentially I do the same thing.

[2017-01-11 17:22] nicksrandall commented on #12
Ok, I've got it working more consistently but it still hangs (rarely). I've turned it back on in Travis.

[2017-01-30 23:37] tonyghita opened #13 "How does pagination work with dataloader?"
I've been having trouble wrapping my head around how pagination works with a batched data loader.

[code]

Do the same pagination parameters `$first` and `$after` get passed into every possible batch? Is there some page accounting that has to happen a layer above the data loader layer?

@nicksrandall I'd love to get your thoughts.

[2017-01-31 00:31] nicksrandall commented on #13
While you could probably get that to work, I don't think that dataloaders are designed to handle that use case. What you could do though is execute your query like you normally would (w/o a loader) and then prime your user loader's cache with the results for future one off queries.

That said, I would ask this same question on facebook/dataloader repo and see that Lee has to say. If you choose to

[2017-01-31 00:32] nicksrandall commented on #9
Closing this.. feel free to reopen if you still have questions.

[2017-01-31 00:32] #9 closed

[2017-01-31 00:32] #12 closed

[2017-01-31 05:30] tonyghita commented on #13
For reference: https://github.com/facebook/dataloader/issues/71

[2017-01-31 05:54] nicksrandall commented on #13
Cool! Thanks.

[2017-01-31 05:54] #13 closed

[2017-02-28 06:05] kgdev opened #17 "Just want to say this lib is awesome!"

[2017-03-24 16:15] nicksrandall commented on #17
Thanks!!

[2017-03-24 16:15] #17 closed

[2017-04-03 04:17] vietthang opened #19 "Example to use with graphql-go"
I'm building a project with graphql-go and need a dataloader implementation. After a bit research, I found your library and seems like you build this with graphql-go support in mind. But I don't understand how to use 2 libraries together. Can you help me with some sample code or ideas how they work together. Do I need to modify graphql-go source code to use this library?

Thank you.

[2017-04-03 16:33] tonyghita commented on #19
@vietthang definitely not. This library is meant to be orthogonal to any other library, but I can give you an example of how you could use them together.

One way to do it is to attach the data loaders to the request context, and extract them from the context when you need them in your resolver (since each resolver has `context.Context` as an optional first parameter).

I'm currently using the lib

[2017-04-04 11:43] vietthang commented on #19
Thank you very much for your detailed answer. I will try your approach and definitely will share if I come up with any idea. Thanks.

[2017-04-04 11:43] #19 closed

[2017-05-16 15:05] RubenSchmidt opened #20 "How can i prevent multiple queries to the database when fetching foreign keys?"
Hi! I am trying to use this library with [graphql-go](https://github.com/neelance/graphql-go/) but i am struggling to get the batching to work when doing list queries that reference foreign key objects. Here's an example schema of what i mean:
[code]
In the MeetupResolver i have this:

[code]

When doing a query to meetups and asking for the Owner of the objects it is still doing a single query to

[2017-05-16 16:08] tonyghita commented on #20
Are you sharing the loaders between resolvers? Or does each `FooResolver` have it's own `dataloader.Loader` instance?

[2017-05-16 16:17] RubenSchmidt commented on #20
I send the loader with the request context like this:
[code]

And in the query resolver  i use it like this:
[code]

[2017-05-16 18:20] RubenSchmidt commented on #20
So this is basically the same as this issue: [https://github.com/neelance/graphql-go/issues/17](https://github.com/neelance/graphql-go/issues/17). Dataloader is recommended there, so surely it is just something wrong with my implementation?

[2017-05-16 18:29] nicksrandall commented on #20
Can you share your code for the batchFn? It sounds like the issue is there. It's probably a result of bad documentation on my end.

[2017-05-16 19:07] RubenSchmidt commented on #20
I tried to implement it like @tonyghita proposed in  [https://github.com/nicksrandall/dataloader/issues/19](https://github.com/nicksrandall/dataloader/issues/19)

[code]

[2017-05-16 19:26] nicksrandall commented on #20
That batchFunc code looks correct to me. The default batch window is 6ms. Is it possible that your resolvers are taking longer than that to resolve? You could configure the batch window to be something longer to see if that solves your issue?

[2017-05-16 19:40] RubenSchmidt commented on #20
I can't really see why the resolver would take so long, there is really not much going on there as you can see in Foos and UserResolver above. I tried setting the batch window to a 1 sec like this:
`		uloader := dataloader.NewBatchedLoader(batchFunc, dataloader.WithCache(data.NewCache()), dataloader.WithWait(1000*time.Millisecond))`
The query is clearly loading slower, however the results are the

[2017-05-16 20:36] RubenSchmidt commented on #20
Update: i found that calling thunk() from the Owner() field in the resolver directly after Load() causes the load to send the query as stated above. But when i changing the the Owner method to:
[code]

And changing the Meetups() query resolver method to:

[code]
The result is then:
[code]
**However** this is not exactly the result i want, because then the SELECT * FROM "users" statement would be r

[2017-05-23 11:40] RubenSchmidt commented on #20
@nicksrandall any updates on this?
This is easy replicated using the examples:
[code]
Prints:
got keys: [key1]
got keys: [key2]
got keys: [key3]

When calling the thunk the wait for the batching is not taken in to account.

[2017-05-23 15:24] tonyghita commented on #20
I'm not sure that `nil` results are cached

[2017-05-23 15:38] nicksrandall commented on #20
@RubenSchmidt the "thunk" (or future) calls will block until they are resolved. The load method returns a thunk and not the values so that we can defer work. To help explain, the following code will work as you expected it to.

[code]

[2017-05-23 15:49] nicksrandall commented on #20
P.S. @tonyghita thanks for always jumping in and lending a hand in the issues. I sincerely appreciate it!

[2017-05-23 20:33] RubenSchmidt commented on #20
Alright thanks for clarifying! After looking some more into it, I found that by getting the value from the context in the Owner field and not when creating the resolver from the Meetups query it works as expected:
[code]
Passing the resolvers in the context feels a little bit clunky tho and an example of a better way would be much appreciated :)

Thanks for all the help and a great project!

[2017-05-23 21:02] tonyghita commented on #20
@RubenSchmidt I agree it's pretty clunky.

Off-topic, but I've started organizing the resolvers to have constructors where their dependencies are checked.

I also pull out a load function that does all loader-dependency checking and data manipulation.

These allow for really minimal and clean resolver functions.

[code]

[2017-05-24 08:11] RubenSchmidt commented on #20
@tonyghita That looks cleaner! I'm going to do it that way for now! Again, thanks for all the help! I'm closing this now.

[2017-05-24 08:11] #20 closed

[2017-05-30 17:53] tonyghita opened #21 "Add context.Context as an argument to dataloader.BatchFunc?"
Currently I pass in a `context.Context` via closure. I'm curious if anyone has a better way of passing the context to the batch function.

[code]

Are there any downsides to changing the signature of `BatchFunc` to include the context as an argument?

[code]

[2017-05-31 23:13] nicksrandall commented on #21
I don't use context in all of my loaders, and where I do, I create a `makeBatchFunc(ctx context.Context) dataloader.BatchFunc` that makes the context available via a closure. These closure functions are nice because they give me a place to do some setup before I return my batch function.

That said, I'm open to hearing a solid argument on making the change. I'm also hesitant to introduce breaking

[2017-06-01 02:26] tonyghita commented on #21
That's interesting... I found I am always enclosing a context in my batch functions to provide request deadlines/timeouts, request tracing, etc.

If others have use-cases where a context is not needed, then I agree that it's not worth it to break the interface. I don't have any arguments for making the change other than convenience.

[2017-06-01 15:48] nicksrandall commented on #21
@tonyghita if we were to make this change, how would the batchFunc get access to the context so that it can be called? Would you suggest also adding the context to the `load(key string)` and `loadMany(keys []string)` methods as well?

[2017-06-01 15:57] tonyghita commented on #21
Yes, it would have to break all sorts of interfaces ☹️

[2017-06-08 23:13] tonyghita commented on #21
This has been resolved by v2, thanks @nicksrandall!

[2017-06-08 23:13] #21 closed

[2017-07-21 17:31] tonyghita opened #23 "Load function keys as interface{}"
I've found the need to pass composite keys to certain batch load functions.

So far, I've been concatenating key parts together into a string before passing the keys to the load function, and then separating the key parts in the load function.

As you can imagine, this is pretty fragile.

I wondering if it would be plausible to change to a `keys interface{}` argument, to allow for passing structur

[2017-07-29 21:58] acornejo opened #24 "documentation"
I got here after reading through the issues in neelance/graphql-go

It is not entirely clear to me how this would solve the n+1 request issue.

I.e. how can you use this to perform less database calls?

[2017-07-30 07:42] jagregory commented on #24
It's worth reading the [facebook/dataloader](https://github.com/facebook/dataloader) docs for an overview of what this library is trying to achieve.

In short, within a single HTTP request, every call to `loader.Load` will be batched up into one call to your `batchFn` function.

[2017-08-03 17:22] #23 closed

[2017-08-03 19:03] nicksrandall commented on #23
Sorry for the delay, I’ve been out of town. Technically, the data loader spec says keys should be strings. That said, I can see a need for the use case you are talking about. Maybe we could change the key to be anything that implements ‘fmt.Stringer’ interface? That would be a non-breaking change and we could pass all keys to ‘fmt.Sprintf(“%s”, key)’ before we cache? What do you think of that?

[2017-08-07 21:53] tonyghita commented on #23
No worries! I thought about it some more and I'm okay just implementing `Stringer` on my composite key structs. I don't want to push this grossness onto this library 😛

[2017-08-09 19:02] tonyghita opened #25 "ThunkMany: len([]interface{}) != len([]error)"
In `ThunkMany`, should the returned error array have the same length as the data array? How would we know which errors relate to which `interface{}` otherwise?

[2017-08-14 18:20] #25 closed

[2017-08-14 19:08] nicksrandall commented on #24
@acornejo did you get the answers you were looking for? Do you mind if I close this issue?

[2017-08-29 05:56] johnjerrico opened #28 "how to load queries without keys"
hello, I've been tinkering with your product by trying to do what the dataloader(facebook JS version)
[code]
is it possible to resolve friends just the way facebook sample does, using your product ? if not what is the alternative  ?

[2017-09-02 02:49] #28 closed

[2017-09-02 04:30] nicksrandall commented on #28
Sorry for no response. This implementation attempts to follow the spec as closely as possible. That said, I’m not sure how to answer your question. Any call to a loader will need an identifier (key) of some kind.

[2017-09-02 05:55] johnjerrico commented on #28
I'm sorry the reason why I close it, is because I think I am asking the
wrong question

thanks a lot for your kind response

Warm Regards,

JohnJerrico

On Sat, Sep 2, 2017 at 11:30 AM, Nick Randall <notifications@github.com>
wrote:

[2017-11-09 16:54] #24 closed

[2017-12-04 20:42] mastertinner opened #30 "Change type of keys to []interface{}"
Why does `keys` have to be a `[]string`? I am working with https://labix.org/mgo where all IDs are of type `bson.ObjectId`. This makes using `dataloader` somewhat impractical because I have to convert all `bson.ObjectId`s into `string`s before piping them into the `Load` function of `dataloader`. In there, I have to convert them back to `bson.ObjectId`s to execute the MongoDB queries. If the `Load

[2017-12-04 21:36] mastertinner opened #31 "Return only one error from ThunkMany"
To me, it's confusing that `BatchFunc` returns `*[]Result`. I would expect it to return `([]interface{}, error)` instead. That would be easier to use and closer to the https://github.com/facebook/dataloader implementation where batch functions can also only throw once and not once per result. If my `BatchFunc` contains a consolidated DB query (which in most cases it will), I can only get one error

[2017-12-04 21:53] mastertinner commented on #30
I just saw that this was already discussed in #23. Sorry for the duplicate! Nevertheless, it gives no reason for being closed and I saw that they had similar discussions on https://github.com/facebook/dataloader/pull/15 so I thought I'd bring it up again.

[2017-12-04 22:59] tonyghita commented on #30
I closed the issue because I decided to just use strings rather than force users to use `interface{}`.

If a similar change was merged into github.com/facebook/dataloader we should probably consider something similar here.

[2017-12-04 23:03] tonyghita commented on #31
Hey, the behavior is implemented like this because of this issue: https://github.com/nicksrandall/dataloader/issues/25

It may be nice to return a `nil` value for []error if no errors have occurred instead of a slice of all nil errors.

[2017-12-05 00:02] nicksrandall commented on #30
Thanks for bringing this up @mastertinner. It appears that the spec has changed since I built this library so I'm open to this change. I'll work on it tomorrow and release a new version.

[2017-12-05 04:14] nicksrandall commented on #30
@mastertinner @tonyghita What do you think of this: https://github.com/nicksrandall/dataloader/compare/v4

If you are ok with the change, I'll make the v4 branch the main branch.

[2017-12-05 17:01] tonyghita commented on #30
@nicksrandall thanks! I think that looks good :)

[2017-12-05 18:27] mastertinner commented on #30
Absolutely fantastic! Thanks so much, @nicksrandall!

[2017-12-05 18:29] mastertinner commented on #31
Good point. Thanks, @tonyghita! I like your suggestion. What do you think, @nicksrandall?

[2017-12-05 20:56] tonyghita commented on #31
I opened #32 to try and address this point. Let me know what you think!

[2017-12-05 21:57] mastertinner commented on #31
LGTM! Thanks, @tonyghita!

[2017-12-05 23:59] nicksrandall commented on #30
This change has been merged in.  @tonyghita I also tagged the release.

[2017-12-05 23:59] #30 closed

[2017-12-06 00:00] nicksrandall commented on #31
@tonyghita I merged the PR and I also tagged these changes. Thanks for the help!

[2017-12-06 00:00] #31 closed

[2017-12-06 00:11] mastertinner commented on #30
Thanks, @tonyghita and @nicksrandall! You guys have been awesome with replying to my requests!

[2017-12-10 22:35] sandeepone opened #33 "Error inMemoryCache after v4 update"
[code]

Context not passed to the get called by delete method.

[2017-12-13 05:31] tonyghita commented on #30
Just wanted to share my experience upgrading from `v2` to `v4.1.0` in my toy project.

https://github.com/tonyghita/graphql-go-example/commit/c0369fd0bf7a2832feff53e672b58e43a7c4c642

After the upgrade, there is a lot more copying ([due to []interface{}](https://github.com/golang/go/wiki/InterfaceSlice)), but I _think_ it should be cheap enough to be acceptable.

[2017-12-13 06:19] nicksrandall commented on #30
@tonyghita I’m also worried about this as I have had a similar experience. What if instead of allowing empty interface, we required a specific interface. Something like:

[code]

Do you think that would help?

[2017-12-13 06:28] tonyghita commented on #30
Hmm.... I'm not exactly sure what the best path forward looks like yet.

In my work use-cases, we have way more dataloaders with string keys than those with composite keys. For now, we just create composite string keys with some kind of separator like `;` for those loaders. This is a pretty brittle approach but generally it works because these cases are fairly limited.

I'll play around with some

[2017-12-27 14:23] wenerme opened #35 "Prime key should be interface{}"
https://github.com/nicksrandall/dataloader/blob/v4/dataloader.go#L27

No reason the key should be string, every underlying key is interface{}

[2018-01-03 13:33] nicksrandall commented on #35
Fixed in 4.1. Thanks for reporting!

[2018-01-03 13:33] #35 closed

[2018-01-03 13:37] nicksrandall commented on #33
Fixed in 4.2. Thanks for reporting!

[2018-01-03 13:37] #33 closed

[2018-02-22 10:59] simonrycroft opened #37 "How to use persistent store such as Redis"
Is it possible/advisable to use the dataloader library to store data in a persistent, shared cache like Redis?

I've implemented a Redis package that satisfies the Cache interface but I'm hitting a snag when I want to set a value in the cache. The request hangs waiting for the thunk to be resolved.

[code]

I'm clearly doing something wrong. Any advice greatly appreciated. Thanks.

[2018-02-22 11:08] simonrycroft commented on #37
Just to be clear, I need to store a text representation of the value I'm caching, so I'm trying to extract the value so I can marshal it. The go-redis.Set() func will only accept a string as the value.

[2018-02-22 16:38] nicksrandall commented on #37
As of v5, we only support in memory caches because we cache the `Thunk` (function), and not the value it holds. The reason for this limitation is because we uses the cache for both caching AND batching items.  Eventually, I would like to decouple the batching cache from the value cache because it would allow more flexible caching strategies like the one you are suggesting.

That said, I do have a

[2018-02-22 17:11] simonrycroft commented on #37
That's awesome. Thanks so much for your help! I'll give this a shot.

[2018-02-22 17:45] nicksrandall commented on #37
I'm going to close this ticket. Feel free to re-open if you need more help.

[2018-02-22 17:45] #37 closed

[2018-03-14 06:48] MingYinLv opened #38 "cannot be batched in graphql"
Union query cannot be merged in [graphql](https://github.com/graphql-go/graphql)
[code]

queryString
[code]

After querying multiple Persons, the friends of Person will be queried. Thunk will be called in the Resolve function of friends. batchFn will be called multiple times, each passing an id.

[2018-03-14 14:32] tonyghita commented on #38
Executing the `thunk` will block, so the resolver probably is executing in serial rather than in parallel.

You either want to use `LoadMany` with many IDs or `Load` without executing the `thunk`.

[2018-03-15 01:51] MingYinLv commented on #38
Thanks, The resolver is executed serially.
It seems that I need to find a solution to graphql-go.

[2018-03-15 01:51] #38 closed

[2018-03-24 04:36] vietthang commented on #19
@gburt Do you have any idea how the parallel field resolving thing in graphql-go go? I had to drop using graphql-go and use node.js because of this issue a quite time ago.

[2018-03-24 09:26] dvic commented on #19
@gburt @vietthang You can try https://github.com/qdentity/graphql-go, but please be aware I'm not maintaining this fork. I took the changes from https://github.com/graphql-go/graphql/pull/213 and added the concurrent resolving of list values https://github.com/graphql-go/graphql/pull/132. There were some data races but I managed to fix these as well, all tests are passing with the -race flag inclu

[2018-03-28 07:09] dvic opened #39 "Improve panic handling"
What do you think about improving the panic handling? I was thinking of a custom handler or passing an error to all results in case of a panic? Or do you believe one should do this in the batchFunc itself?

[2018-03-28 17:17] nicksrandall commented on #39
We currently catch panics that happen in the batch function and pass the error to all results. The relative code can be found here: https://github.com/nicksrandall/dataloader/blob/v5/dataloader.go#L419-L441

What are you proposing we do on top of that?

[2018-03-29 10:57] dvic commented on #39
Ah missed that part below it, then there is something up in my tests (using `gomock`), the test hangs when a gomock panic occurs. I'll investigate and report back if there were any issues related to this library.

&Result{Error: fmt.Errorf("Panic received in batch function: %v", panicErr)}

An improvement to the library might be to be able to configure a 'panic handler', i.e., a `func(panicErr int

[2018-04-24 15:34] smithaitufe commented on #19
What is this thing about this NewClient? What purpose does it serve? I am trying to grasp it.

[2018-05-11 12:00] oskanberg commented on #19
@smithaitufe I think that is supposed to represent a client to load information about `things`. In this case it is a client with method `Things(ctx, ids) []Things` - it could be a http client or similar.

[2018-05-17 19:24] spife129 opened #40 "Trouble with compiling dataloader, google cloud datastore, appengine in go1.8"
I am trying to use dataloader with my go application that runs on google's app engine. After I load the dataloader lib into my application, I got a number of errors from golang compiler. Any idea or tips on how to solve the issue? Thanks a lot!

dataloader.go:183: cannot use NewCache() (type *InMemoryCache) as type Cache in assignment:
	*InMemoryCache does not implement Cache (wrong type for Delet

[2018-05-18 14:09] spife129 commented on #40
It seems the library only works with go1.9 as the key.key undefined issue is gone when I switched to go1.9

[2018-05-18 16:45] nicksrandall commented on #40
We can probably fix this. I'm going to take a look. Thanks for reporting!

[2018-05-18 17:41] #40 closed

[2018-05-18 17:42] nicksrandall commented on #40
This is now fixed for go versions < 1.9

[2018-05-18 17:50] nicksrandall commented on #39
Consumers of this library may implement their own panic handler inside the batch function if they wish to. As such, I'm not convinced that we need such a feature baked into the library.

[2018-05-18 17:50] #39 closed

[2018-09-22 21:16] chris-ramon commented on #19
For those looking for a full working example, you might want to take a look to: https://github.com/graphql-go/graphql-dataloader-sample

[2018-10-07 02:35] futurechallenger opened #42 "`go get` can only get V4"
`go get` command can only get V4 package, not V5.
But this can help: `go get -u gopkg.in/nicksrandall/dataloader.v5`, then
[code]

[2018-10-12 03:22] vimalloc opened #44 "Dynamic Queries"
First off, thanks for this awesome library!

I've got a question that might be more generalized to dataloader as a whole, but I would love to know if you have any insight. I'm using a postgres backend for my storage, and in one of my resolvers I may pass in a list of IDs that I'm interested in getting. Currently I'm doing a `SELECT *` to grab all the fields for those items, even if I may not need

[2018-12-12 14:02] pugovok commented on #42
+1
need set correct tag version. v5.1.0

[2018-12-12 14:25] pugovok opened #45 "Semantic Versioning tag"
Please set semver actual tag:
Correct actual version: v5.0.0
current version v5 not valid for modules

[2018-12-17 15:06] jdeal-mediamath commented on #45
Yes please! This make importing via go modules impossible.

[2018-12-18 08:53] pugovok commented on #45
ping @nicksrandall

[2018-12-18 13:19] nicksrandall commented on #45
Sorry I missed this! I will do this later today.

[2018-12-19 02:52] tonyghita commented on #45
Let us know if this works for you:  https://github.com/graph-gophers/dataloader/releases/tag/v5.0.0

[2018-12-19 02:52] tonyghita commented on #42
I've cut the v5 release with semantic versioning https://github.com/graph-gophers/dataloader/releases/tag/v5.0.0

[2018-12-19 08:32] pugovok commented on #45
Thanks a lot

[2018-12-19 14:52] #42 closed

[2018-12-19 14:52] #45 closed

[2019-02-27 03:29] nicksrandall commented on #44
We made the `Key` interface an interface for cases like this. You can create your own data structure that allows you to encode all the data you need in your batch function.

[2019-04-25 20:56] tonyghita opened #49 "v1-v4: LoadMany() returns in non-deterministic order"
In `v1-v4` of this library, `LoadMany()` does not return in deterministic order. That is, a call to `LoadMany("A", "B")` can give results `[ResultA, ResultB]`.

To reproduce, run the unit tests multiple times:
[code]

It seems like the cause may be the `thunk` creation happens concurrently in a goroutine, so the batch of keys passed to the batch function may end up out of order.

[2019-04-25 21:53] tonyghita opened #51 "InMemoryCache: Clear() races with sync.Map implementation"
Found when running tests like so:
[code]

[code]

The cause seems to be an improper deletion of the `sync.Map` elements in `Clear()`.

[2019-04-25 22:47] tonyghita commented on #51
After thinking a bit more about the problem, I'm not sure that the `sync.Map` implementation is appropriate for the in-memory cache.

https://golang.org/pkg/sync/#Map

I don't think the dataloader use case fits the intended use case since it allows for deletions and clearing, whereas the standard library's implementation is optimized for caches that only grow.

What if we dropped the special `InMe

[2019-04-25 22:54] nicksrandall commented on #51
I’m cool with that.

[2019-05-04 18:09] tonyghita commented on #49
All versions have been patched up, closing this issue

[2019-05-04 18:09] #49 closed

[2019-07-25 20:58] #51 closed

[2019-07-26 14:49] nicksrandall commented on #44
Marking this as closed due to inactivity.

[2019-07-26 14:49] #44 closed

[2019-12-01 06:43] jinghuazhiye opened #63 "wrong time to call 'TraceBatchFinishFunc'"
[code]

[2020-01-27 04:12] mjm commented on #63
I just noticed this too. By calling it here, it captures the wrong items slice, so the finish function from the tracing always gets an empty slice.

[2020-06-15 01:18] AttilaTheFun opened #65 "Go Modules Support"
Right now I can technically use this library with projects using go modules, but because it doesn't have a go module initialized, we see:
[code]
I'm not sure if all the semver / module guarantees are properly respected for non-module-based projects.
Could I add go.mod / go.sum files to the repo? Happy to open a PR.
I could also fork the repo and keep them in my fork if you prefer.

[2020-06-15 16:19] tonyghita commented on #65
I think this is a good idea. It's a bit more complicated for any module above version 1.0, and unfortunately we had quite a few API changes after the initial version.

I'll be happy to accept a PR to initialize this Go module. I'll do a bit of reading as well ton ensure the changes work well for any consumers: https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher

[2020-06-24 08:01] AttilaTheFun commented on #65
@tonyghita - Joost beat me to it - would you be open accepting their PR?

[2020-09-03 19:12] #65 closed

[2020-09-11 03:00] KingWu opened #68 "Duplicate key for batchFun when applying no cache"
When applying no cache policy, i found that duplicate keys passed to batchFuc.
After i query the keys from database and return the results, then will throw error which tell you the size of result and keys is not matched.

[2020-09-16 16:45] KingWu opened #69 "Keys passed to batchFn can be sort by asc?"
Any way to sort the `Keys` passed to `batchFn`?

[2020-10-14 06:41] dancarlocanlas opened #70 "Passing query information to batch function?"
Is it possible to pass on the query information (specifically the fields requested) to the batch loader function? With my current implementation, the creation of the loader is done outside of the resolver (like other samples) and there is no way to pass the query information to the batch function from within the resolver function.

[2020-12-09 08:58] 15140835557 opened #71 "How do dataloaders solve the 1-to-many relationship？"
We have two modules, one is the order and the other is the sub order. When querying the order list, you don't need to worry about the "n + 1" problem, but if you check the sub order according to the order list, there will be problems. For example, if a order corresponds to multiple sub orders, you need to query the sub order details once every time.

Now using dataloader cannot solve this 1-to-man

[2021-01-15 17:24] nicksrandall commented on #70
Yes, you *could* do this but the exercise is left to the user. This is primary the reason we use interfaces as keys and not raw strings. This way, you can embed all the information you want in the key and then use that as part of your batch function.

[2021-01-15 17:27] nicksrandall commented on #69
You could sort the keys as the first step in your batch function if you need them sorted. An easy way to accomplish this would be to have your key interface also implement the `sort.Interface` interface so that you could sort the keys using the std lib.

[2021-01-15 17:29] nicksrandall commented on #71
I'm not sure I fully understand the issue. If you still have this question, could you please elaborate?

[2021-01-15 17:34] nicksrandall commented on #68
No cache policy does no caching (and therefore no deduping). I think you'll have to handle the duplicate keys yourself if you intend to use that policy.

Generally speaking, the no-cache policy is intended for use-cases where there never would be any duplicates.

[2021-01-15 17:34] nicksrandall commented on #63
PRs are open :)

[2021-02-01 04:16] dancarlocanlas commented on #70
@nicksrandall got it. Was able to implement a way around this. Thanks!

[2021-02-01 04:16] #70 closed

[2021-04-01 17:21] tonyghita opened #76 "TestLoader/allows_clearAll_values_in_cache fails non-deterministically"
@mjq discovered an issue with a unit test while fixing an incorrect CI configuration in #73:

[code]

We should dig into what causes this test to fail non-deterministically and then fix the issue.

[2021-08-11 03:39] Alcoholhaha opened #78 "How to implement BigCache?"
BigCache:
func (c *BigCache) Get(key string) ([]byte, error) {
	// ...
}
func (c *BigCache) Set(key string, entry []byte) error {
	// ...
}

But cache in dataloader:
func (c *NoCache) Get(context.Context, Key) (Thunk, bool) { return nil, false }
func (c *NoCache) Set(context.Context, Key, Thunk) { return }

So how do i implement BigCache in dataloader? How convert Thunk to []byte and []byte to Thu

[2021-08-23 19:28] frederikhors opened #79 "Can I use this with gqlgen?"
Can I use this with gqlgen?

[2021-08-28 01:30] zenyui commented on #79
@frederikhors I just got it working with gqlgen! let me clean up the sample and i'll post it somewhere public.

[2021-08-28 08:02] frederikhors commented on #79
Please! Thanks!

[2021-08-30 02:22] zenyui commented on #79
@frederikhors here it is! https://github.com/zenyui/gqlgen-dataloader. I tried to make the project structure a little more realistic than the standard GqlGen TODO app... let me know if it makes sense to you.

IMO, there is no need for code generation in data loaders when you use gqlgen, so I far prefer using this dataloader implementation.

[2021-08-30 09:35] frederikhors commented on #79
@zenyui I will try it in a few hours. You're amazing! Thanks!

[2021-08-31 16:28] zenyui commented on #79
@frederikhors lmk, and then let's pitch this as an alternative in the GqlGen docs :)

[2021-10-15 22:07] JohnMaguire opened #80 "What context is passed into batchFn?"
`Load()` may be called multiple times before `batchFn` is called. If `Load()` is called with various contexts, which one is ultimately passed to `batchFn`?

[2021-11-10 17:50] frederikhors commented on #79
@zenyui I'm starting the test in a few hours (really this time). Can you please help me understand why the code generation is not needed here? It's using reflection?

[2021-11-10 21:54] zenyui commented on #79
I think it comes down to separation of concerns:
- resolvers implement graphql queries/mutations/subscriptions, and so codegen is appropriate to ensure the signatures and types can map back to the proper graphql response
- dataloaders are responsible for implementing bulk fetching of information, and it's foreseeable that it might return a type/struct that is not in your graph.

In my example, I h

[2021-11-13 18:04] frederikhors commented on #79
I'm studying your example (thanks again!).

One thing I can't find and can't understand is how and if you can handle options like "`maxBatch`" and "`wait`" as you can do with `dataloaden`, example:

[code]

Is it possible?

[2021-11-13 18:32] zenyui commented on #79
@frederikhors yes, you can pass in `Options` when you instantiate a new dataloader with `NewBatchedLoader` ([docs](https://pkg.go.dev/github.com/graph-gophers/dataloader#NewBatchedLoader)). In my sample, I'm invoking it [here](https://github.com/zenyui/gqlgen-dataloader/blob/main/graph/dataloader/dataloader.go#L42), but I'm not passing fancy options as this is just a sample.

I think the options y

[2021-11-13 18:42] frederikhors commented on #79
Ok. Really thanks.

Something that scares me in your example is executing `NewDataLoader()` on every API request.

Can't it be avoided? In the case of many dataloaders it can be really heavy.

[2021-11-13 18:57] frederikhors commented on #79
And I think we miss `ctx: ctx` in `newDataLoader()`, am I right?

[2021-11-13 18:58] zenyui commented on #79
In this case, a `DataLoader` is not actually heavy, as it's just an adapter to the user storage interface. The point of this thing is for all the resolvers in a single request to consolidate/coordinate their calls for users. If you did have a heavy dependency that you wanted to pass into your DataLoader, though (or something like an API client/DB client connection pool), you could instantiate that

[2021-11-13 18:59] zenyui commented on #79
https://pkg.go.dev/github.com/graph-gophers/dataloader#NewBatchedLoader

Not sure what you mean.

[2021-11-13 18:59] zenyui commented on #79
@frederikhors let's hop on a call?

[2021-11-13 19:02] frederikhors commented on #79
[code]

`ctx` in this func is not assigned, right?

[2021-11-13 19:06] zenyui commented on #79
`NewBatchedLoader` accepts a [BatchFunc](https://pkg.go.dev/github.com/graph-gophers/dataloader#BatchFunc), which i implemented in `users.get`... that is the function that accepts a context, and `graph-gophers/dataloader` passes it for us.

I realize now that I didn't need a `ctx` at all on that constructor. I'll remove it.

[2021-11-13 19:09] frederikhors commented on #79
If you don't need it then you don't need to call it like this: `loaders := NewDataLoader(r.Context(), db)` in:

[code]

Right?

[2021-11-13 19:10] frederikhors commented on #79
Or at least not on each call... I think.

[2021-11-13 19:10] zenyui commented on #79
yep, it's not used. that `ctx` argument can be removed from my `NewDataLoader` function.

[2021-11-13 19:12] frederikhors commented on #79
I removed it here https://github.com/zenyui/gqlgen-dataloader/pull/1.

[2021-11-13 19:16] zenyui commented on #79
@frederikhors I messaged you on the gqlgen discord. might be easier for us to chat there.
https://discord.gg/DYEq3EMs4U

[2021-11-13 19:20] zenyui commented on #79
One thing to keep in mind is you do need a new dataloader for each request so that it is isolated from other requests. if you want to share a cache, etc, between requests, you can share it among many dataloader instances.

[2021-11-13 19:27] frederikhors commented on #79
Ok. So the last PR was wrong, right? I need isolated middlewares...

But what if it's just methods that return results? Even if I instantiate it only once and not at each call, what can happen? In the end I am calling DB methods each time different for each call, nope?

[2021-11-13 19:33] zenyui commented on #79
Let's get on a call so I can walk you through it. It took me a while to understand how the dataloader interacts with a request and the resolvers.

[2021-11-13 19:44] frederikhors commented on #79
I cannot call right now. Can we please continue here? Please... 🙏

In general, why should I create a dataloader for each request if all I do is call a method on the db with different parameters each time?

[2021-11-13 19:53] zenyui commented on #79
I would prefer at least text chatting on discord.

I think you're missing the core point of a dataloader, as if it was ONLY doing that dynamic parameter injection, you would not need a dataloader at all.

A dataloader **consolidates** data requests from remote data sources to avoid requesting the same remote entity multiple times. The typical use case is to consolidate data requests for a single g

[2021-11-14 17:57] frederikhors commented on #79
I think we can close this. Thanks again @zenyui!

[2021-12-13 21:17] frederikhors commented on #79
https://github.com/zenyui/gqlgen-dataloader/issues/8

[2021-12-13 21:17] #79 closed

[2022-01-02 09:09] tsh96 opened #83 "Add generic support on next release?"
Go will add generic feature on next release(1.18).
This feature can bring a significant benefit like static type checking for user.

[2022-03-16 09:51] frederikhors commented on #83
I would really like! And it would also be useful code to learn how to use the new generics!

[2022-03-18 22:03] errorhandler commented on #83
As part of my own learning around generics I've created a [fork](https://github.com/errorhandler/dataloader) that is all generics based, for those interested.

[2022-04-08 10:50] pavelnikolov commented on #83
https://github.com/graph-gophers/dataloader/pull/84

[2022-04-08 10:53] #80 closed

[2022-04-08 10:54] pavelnikolov commented on #78
See PR https://github.com/graph-gophers/dataloader/pull/84. It adds support for Generics and once merged you'll be able to use any type as the value - in your case `Thunk[[]byte]`

[2022-04-08 10:54] #78 closed

[2022-04-08 10:55] pavelnikolov commented on #69
This is not directly related to the library's functionality. @nicksrandall's solution seems good.

[2022-04-08 10:55] #69 closed

[2022-04-08 10:56] #68 closed

[2022-06-19 02:29] ViniciusAtaide opened #89 "example with a database"
could you provide a simple example with any database using the IN clause?

I'm new to dataloader so I'm mostly deducing keys are each id that the resolver provides but I'm not sure.

Thank you

[2022-06-19 02:31] ViniciusAtaide commented on #89
the returned value from the convertion from the database too would be nice to understand, I see a for casting one type to another but idk if the map from a repository with id as keys and entities as values are an obligatory approach.

[2022-06-19 03:47] ViniciusAtaide commented on #89
taking advantage of the thread may I ask too why in my application it is asking 5 as a string in this codeline

[2022-06-19 04:16] ViniciusAtaide commented on #89
just found out that was the same type of my key, uuid. that's why

[2022-07-12 13:24] K4L1Ma opened #90 "Slice of Pointers (?)"
I would like to understand the reasoning behind this [BatchFunc type](https://github.com/graph-gophers/dataloader/blob/master/dataloader.go#L35) especially why is it a Slice of Pointers as it could potentially lead to memory leakages, I think it would be better for it to be just a slice

some reference:
https://groups.google.com/g/golang-nuts/c/C2Ir0GI2gEk/m/fO3Zte1sAgAJ

[2022-07-18 13:33] ffrankfeng opened #91 "how to use redis as cache"

[2022-08-11 10:44] larisau opened #94 "expired DB certificate"
[code]
[code]

[2022-08-11 10:44] #94 closed

[2022-08-14 22:30] eaglemoor commented on #91
U need to support dataloader.Cache interface.

[2022-08-19 06:27] #91 closed

[2022-08-31 21:12] rwrz commented on #91
Isn't that easy. The cache interface returns a Thunk[V], which is like a "callback function". It is not possible to "encode" and save it on Redis.
Based on this answer here, I was expecting it to be possible, but I just realize now that it won't be possible.
-
Is there a way to refactor the loader to save/load values and not functions?

[2022-09-07 22:49] eaglemoor commented on #91
@rwrz u can use Redis cache in batch function, without cache in dataloader

[2022-11-01 13:46] zdraganov opened #96 "Noop cache doesn't seems to work in v6.0.0"
Hello all,

I receive a panic when using the loader with the NoCache option. The same code works fine with InMemoryCache passed or by default.

Anyone managed to make the NoCache working in v5.0.0
[code]

And the time I invoke the Load(ctx, key) function, I receive some internal panic in the dataloader package.
[code]

[2022-11-01 15:23] hdlinh1808 opened #97 "About caching in tutorial"
Hi,
Int the README.md, I found:
`This implementation contains a very basic cache that is intended only to be used for short lived DataLoaders (i.e. DataLoaders that only exist for the life of **an http request**). You may use your own implementation if you want.`
But when I test, I found that it cache for many requests. So I have the questions:
- What is default of the cache (TTL)?
- If I want cac

[2022-11-01 17:40] vuon9 commented on #97
Not sure if it can help, but you could consider to init the dataloader for each request then include it into the context of the request, rather than init the dataloader for the whole application.

[2022-11-03 18:54] josgba opened #98 "Preventing panic after cancelled context"
Hello!

I'm noticing that when request context is cancelled during operation, the thunk related to that request panics when it is resolved.

This seems to be due to the thunk not having a `value` property when the `return` value in this block is hit (in `dataloader.go`):
[code]

When this thunk is cached, it then results in a panic in subsequent requests until the cache is cleared.

Is there a sug

[2022-11-12 13:09] vivek-ng commented on #98
I merged a fix for this back in April but we haven't published a new version 😞
https://github.com/graph-gophers/dataloader/blob/69412165eb30a45d7933e953c719217a2a25c96a/dataloader.go#L235

@tonyghita @pavelnikolov Can we please publish a new version?

[2022-11-13 22:45] pavelnikolov commented on #98
Thank you @vivek-ng
I just cut a new release version https://github.com/graph-gophers/dataloader/releases/tag/v7.1.0

[2022-11-13 22:45] #98 closed